@font-face {
    font-family: "Kanit";
    src: url("/static/font/Kanit-Light.ttf") format('truetype'),
         url("/static/font/Kanit-Light.otf") format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: "Gentium";
    src: url("/static/font/GentiumPlus-R.ttf") format('truetype'),
         url("/static/font/GentiumPlus-R.otf") format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: "Xiao Lai";
    src: url("/static/font/XiaolaiSC-Regular.ttf") format('truetype'),
         url("/static/font/XiaolaiSC-Regular.otf") format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: "Featural Dots";
    src: url("/static/font/featural-dots.ttf") format('truetype'),
         url("/static/font/featural-dots.otf") format('opentype');
    font-weight: normal;
}
