$purple: #8866cc;

* {
  font-family: "Kanit";
}

h1 {
  color: $purple;
  text-align: center;
  margin-bottom: 25px;
}

.lauvinko {
  //font-family: "Lauvinko Bubble", sans-serif;
  font-family: "Lauvinko Smooth Serif", sans-serif;
}

.menu {
  background-color: $purple;
  padding: 0;

  .fixture {
    width: 100%;

    @media only screen and (min-width: 768px) {
      position: fixed;
    }

    .menu-item {
      font-size: 2.5vh;
      padding: 1vh 3vw;
      color: white;

      &:hover, &.on-page {
        background-color: white;
        color: black;
      }
    }
  }
}

.annotated {
  position: relative;
  padding: 0 0.25vh;

  a {
    font-size: 2.5vh;
    line-height: 250%;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  .annotation {
    position: absolute;
    font-size: 1.5vh;
    top: 2.25vh;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .translation {
    position: absolute;
    font-size: 1.5vh;
    bottom: 3.25vh;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid black;
    white-space: nowrap;
    padding: 2px;
    background: white;
  }
}
