$purple: #8866cc;
$ice_blue: #86cbf9;

h1, h2, p, li, .translation {
  font-family: "Kanit", sans-serif;
}

.dots {
  font-family: "Featural Dots", sans-serif;
  font-size: 200%;
  //line-height: 150%;
}

.cjk {
  font-family: "Xiao Lai", sans-serif;
  font-size: 150%;
}

a {
  color: $ice_blue;

  &:hover {
    text-decoration: none;
  }
}

h1 {
  color: $purple;
  text-align: center;
  margin-bottom: 25px;
}

.lauvinko {
  //font-family: "Lauvinko Bubble", sans-serif;
  font-family: "Lauvinko Smooth Serif", sans-serif;
}

.main-row {
  @media only screen and (min-width: 768px) {
    min-height: 100vh;
  }
}

.translated-line {
  @media only screen and (max-width: 768px) {
    padding-left: 3vw;
  }
}

.menu {
  background-color: $purple;
  padding: 0;

  .fixture {
    width: 100%;

    @media only screen and (min-width: 768px) {
      position: fixed;
    }

    .menu-item {
      font-size: 2.5vh;
      padding: 1vh 3vw;
      color: white;

      &:hover, &.on-page {
        background-color: white;
        color: black;
      }
    }
  }
}

.annotated {
  position: relative;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  .translation {
    position: absolute;
    font-size: 1.5vh;
    line-height: 1.5vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, -125%);
    border: 1px solid black;
    white-space: nowrap;
    padding: 2px;
    background: white;
  }

  &.tooltip-shown {
    a {
      background-color: #ccffdd;
    }
  }
}

table {
  margin: auto auto 1.5vh;

  td, th {
    padding: .5vw;
    border: 1px solid black;
    text-align: center;
  }

  th {
    font-weight: 800;
  }
}
